.quantity-selector-container {
    display: flex;

    .button-container {
        &.small {
            font-weight: 700;
            margin: 0 10px;
        }
    }

    span {
        line-height: 40px;
    }
}